<?xml version="1.0" encoding="utf-8" ?>
<MenuRoot>
    <Menu Key="File">
        <Command Command="OpenFile" />
        <Command Command="SaveFile" />
        <Separator />
        <Command Command="FolderImagePrevious" />
        <Command Command="FolderImageNext" />
        <Separator />
        <Command Command="ShowSettings" />
        <Separator />
        <Command Command="CloseImage" />
        <Command Command="ExitApplication" />
    </Menu>
    <Menu Key="View">
        <Menu Key="Zoom">
            <Command Command="ZoomIn" />
            <Command Command="ZoomOriginal" />
            <Command Command="ZoomOut" />
            <Separator />
            <Command Command="ZoomToFit" />
        </Menu>
    </Menu>
</MenuRoot>
